.main_container {
    width: 100%;
    height: 100%;

    display: flex;
    position: relative; 
}


.sign_in_container {
    background-color: #125370;
    border: solid 3px #002461;
    border-radius: 50px;

    width: 35%;
    height: 37%;

    display: flex;
    flex-direction: column;
    row-gap: 15px;

    position: relative;
    margin: 13% 0 0 10%;

    z-index: 2;
}

.main_title {
    font-family: "Source Sans 3", sans-serif;
    font-size: 26px;
    color: #F2EFE2;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    text-align: center;
    margin: 3% 0 0 0; 
}

.username_password_container {
    width: 85%;

    display: flex; 
    margin: 1% 0 0 7%;
}

.username_password_label {
    color: #F2EFE2;
    font-family: "Source Sans 3", sans-serif;
    font-size: 21px;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    
    width: 25%;
}

.username_password_input {
    background-color: #F5F2EB;
    border-radius: 7px;

    width: 65%;

    margin: 0 0 0 5%;
}

.submit_container {
    height: 29%;
    width: 85%;
    
    display: flex;
    flex-direction: column;
 
    margin: 0 0 0 7%;
}

.register_message {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    color: #F2EFE2;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    text-align: center;
    
    margin: 0;
}

.link_format {
    color: #F2EFE2;
    font-weight: 500;

    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
}

.button_format {
    font-family: "Source Sans 3", sans-serif;
    font-size: 18px;
    font-weight: 450;
    color: #125370;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);  

    background-color: #BFBFBF;
    border: 1px solid #747474;
    border-radius: 5px;  
    
    height: 45%;
    width: 25%;

    margin: 3% 0 0 37%;
}

.error_message {
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    font-weight: 390;
    color: #F2EFE2;
    
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    text-decoration: none;
    text-align: center;

    margin: 4% 0 0 0;
}

.sign_in_photo { 
    box-shadow: 0px 0px 20px rgba(0,0,0,0.6);
    border-radius: 40px;
    
    height: 80%;
    width: 70%;
    
    position: absolute;
    top: 5%;
    left: 30%;
    
    z-index: 1;
}