.main_photo {
    border-radius: 50px;

    width: 1050px;
    height: 550px;

    margin-top: 20px;
    margin-left: 60px;
    
    box-shadow: 0px 0px 20px rgba(0,0,0,0.9);
    
    position: absolute;
    z-index: 0;
}