/* sr = screen reader */

.sr_content {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

/*  General font styling */

.h2_font {
    color: #F2EFE2;
    font-family: "Source Sans 3", sans-serif;
    font-size: 26px;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
}

.h3_font {
    color: #F2EFE2;
    font-family: "Source Sans 3", sans-serif;
    font-size: 23px;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    margin: 0;
}

.h4_font {
    color: #156082;    
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

/* Styling classes in the order they appear in the JSX return */

.error_container {
    height: 97%;
    width: 94%;

    margin: 1% 0 0 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_title_container {
    background-color: #156082;
    border: solid 2px #042433;
    border-radius: 10px;

    height: 50px;
    width: 100%;

    display: flex;
    justify-content: center;
}

.main_title {
    margin: 0 3% 0 0;
    line-height: 50px;
}

.server_error_image {
    width: 35%;
    height: 55%;

    margin: 4% 2% 0 0;
}

.server_error_message {
    color: #C00000;
    font-family: "Source Sans 3", sans-serif;
    font-size: 30px;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    

    margin: 4% 0 0 0;
}

.error_message_container {
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.no_internet_react_icon {
    color: #8e0505;

    width: 15rem;
    height: 15rem;

    margin: 3% 0 0 40%;
}

.no_user_data_error {
    color: #C00000;
    font-family: "Source Sans 3", sans-serif;
    font-size: 30px;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    

    text-align: center;
    white-space: pre-line;
    
    margin: 2% 3% 0 0;
}

.main_container {
    height: 150%;
    width: 94%;
    
    margin: 1% 0 0 3%;
}

.edit_profile_container {
    height: 42%;
    width: 50%;
}

.subtitle_1_container {
    height: 22%;
    width: 100%;
        
    display: flex;
    flex-direction: column;

    margin-top: 5%;
}

.subtitle_1 {
    background-color: #156082;
    border: solid 2px #042433;
    border-radius: 5px;

    height: 42%;
    width: 25%;

    text-align: center;
    line-height: 41px;
}

.profile_error_message {
    color: #C00000;    
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    margin-top: 4%;
}

.profile_success_message {
    color: #3B7D23;    
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;       
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    margin-top: 4%;
}

.subtitle_1_info {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    font-weight: 390;
    margin-top: 4%;
}

.edit_profile_user_data_container {
    height: 76%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    
    margin-top: 3%; 
}

.container_format_edit_profile {
    height: 11%;

    display: flex;
    align-items: center;
}

.label_format_edit_profile {
    height: 100%;
    width: 30%;

    line-height: 36px;
}

.input_format_edit_profile {
    color: #125370;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    background-color: #D9E4F3;
    border: solid 2px #125370;  
    border-radius: 5px;
    
    height: 100%; 
    width: 60%;

    margin-left: 5%;
    padding-left: 1%;
}

.save_profile_changes_button {
    color: #125370;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    font-weight: 600;

    background-color: #BFBFBF;
    border: solid 2px #042433;
    border-radius: 5px;

    height: 100%;
    width: 40%;

    margin-left: 55%     
}

.password_container {
    height: 36%;
    width: 100%;
    
    display: flex;
    flex-direction: column;

    position: relative;
}

.container_format_edit_profile_custom {
    height: 30%;
    width: 100%;

    display: flex;
    align-items: center;
}

.show_hide_password_button_MP {
    color: #125370;
    background-color: transparent;
    border: none;
    
    height: 90%;
    width: 4%;
    
    line-height: 11%;    

    position: relative; 
    margin-left: -4%;

    cursor: pointer; 
}

.confirm_profile_changes_button {
    color: #125370;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    font-weight: 600;

    background-color: #BFBFBF;
    border: solid 2px #042433;
    border-radius: 5px;

    height: 30%;
    width: 40%;

    margin: 3% 0 0 55%;
}

.account_management_container { 
    display: flex; 
    flex-direction: column; 
    
    height: 35%;
    width: 50%;

    margin-top: 2%;    
}

.subtitle_2_container {
    height: 27%;
    width: 100%;
}

.subtitle_2 {
    background-color: #156082;
    border: solid 2px #042433;
    border-radius: 5px;

    height: 43%;
    width: 40%;
    
    text-align :center;
    line-height: 42px;
}

.account_error_message {
    color: #C00000;
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    margin-top: 4%;
    width: 150%;
}

.account_success_message {
    color: #3B7D23;        
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    margin-top: 4%; 
}

.subtitle_2_info {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    font-weight: 390;

    margin-top: 4%;    
}

.password_change_container {
    height: 68%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    row-gap: 9%;

    position: relative;
    margin-top: 4%;
}

.container_format_account_management {
    height: 16%;
    width: 100%;

    display: flex;
}

.label_format_account_management {
    height: 100%;
    width: 30%;

    line-height: 37px;
}

.input_format_account_management {
    color: #125370;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    background-color: #D9E4F3;
    border: solid 2px #125370;  
    border-radius: 5px;
    
    height: 100%; 
    width: 60%;

    margin-left: 5%;
    padding-left: 1%;
}

.show_hide_password_button_AM {
    color: #125370;
    background-color: transparent;
    border: none;

    height: 100%;
    width: 4%;  
    
    margin: 0 0 0 -4%;
    cursor: pointer; 
}

.change_password_confirm_button {
    color: #125370;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    font-weight: 600;

    background-color: #BFBFBF;
    border: solid 2px #042433;
    border-radius: 5px;

    height: 15%;
    width: 40%;

    margin: 1% 0 0 55%;
}

.delete_account_container {
    height: 21%;
    width: 50%;

    margin-top: 1%;
}

.delete_account_error_message {
    color: #C00000;
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);    
    margin: 0;

    height: 15%;
    width: 100%;
}

.delete_account_title {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    font-weight: 390;

    height: 15%;
    width: 100%;   
}

.delete_account_request_button {
    color: #125370;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    font-weight: 600;

    background-color: #BFBFBF;
    border: solid 2px #042433;
    border-radius: 5px;

    height: 17%;   
    width: 40%;

    margin: 3% 0 0 55%;
}

.container_format_account_deletion {
    height: 18%;
    width: 100%;

    display: flex;
    margin-top: 3%;
}

.label_format_account_deletion {
    height: 100%;
    width: 30%;

    line-height: 38px;
}

.input_format_account_deletion {
    color: #125370;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    background-color: #D9E4F3;
    border: solid 2px #125370;  
    border-radius: 5px;
    
    height: 100%; 
    width: 60%;

    margin-left: 5%;
    padding-left: 1%;
}

.show_hide_password_button_DA {
    color: #125370;
    background-color: transparent;
    border: none;

    height: 100%;
    width: 4%;  
    
    margin: 0 0 0 -4%;
    cursor: pointer; 
}

.account_deleted_container {
    height: 47%;
    width: 100%;

    margin-top: 3%;
}

.delete_account_confirm_button {
    color: #125370;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    font-weight: 600;

    background-color: #BFBFBF;
    border: solid 2px #042433;
    border-radius: 5px;

    height: 35%;   
    width: 40%;

    margin: 1% 0 0 55%;
}

.account_deleted_feedback {
    padding-top: 3%;
}

.account_deleted_message {
    color: #3B7D23;    
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);

    text-align: center;
    margin: 0;
}

