/* sr = screen reader */

.sr_content {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

/*  Generic font styling */

.h2_font {
    font-family: "Source Sans 3", sans-serif;
    font-size: 26px;
    color: #F2EFE2;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    margin: 0px;
}

.h3_font {
    font-family: "Source Sans 3", sans-serif;
    font-size: 23px;
    color: #156082;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    margin: 0px;
}

.h4_font {
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    color: #156082;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    margin: 0px;
}

/* Styling code in the order it appears in the JSX return */

.no_property_error_container {
    height: 97%;
    width: 94%;

    margin: 1% 0 0 3%;
}

.main_title_container {
    background-color: #156082;
    border: solid 2px #042433;
    border-radius: 5px;

    height: 45px;
    width: 100%;

    display: flex;
    justify-content: center;
}

.main_title {
   line-height: 42px;
    
   margin-right: 3%;
}

.error_messages_container {
    height: 92%;
    width: 100%;

    display: flex;
    justify-content: center;
}

.no_property_found_container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.no_property_found_image {
    height: 45%;
    width: 30%;

    margin: 5% 3% 0 0;
}

.PF_error_message {
    color: #C00000;
    font-family: "Source Sans 3", sans-serif;
    font-size: 30px;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    

    margin: 3% 3% 0 0;
}

.server_error_container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.server_error_image {
    height: 50%;
    width: 30%;
    
    margin: 5% 3% 0 0;
}

.server_error_message {
    color: #C00000;
    font-family: "Source Sans 3", sans-serif;
    font-size: 30px;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    
    margin-top: 3%;
}

.main_container {
    height: 100%;
    width: 94%;

    margin: 1% 0 0 3%;
}

.property_edit_container {
    height: 98%;
    width: 100%;

    display: grid; 
    grid-template: 100% / 48% 48%;
    margin-top: 1%;
}

.property_data_container {
    height: 100%;
    width: 100%;

    display: grid; 
    grid-template: repeat(8, 5%) repeat(2, 15%) / 25% 75%;
    row-gap: 2%;

    position: relative;
}

.data_subtitle_container {
    grid-column: span 2; 
}

.PE_error_message {
    color: #C00000;
    font-family: "Source Sans 3", sans-serif;
    font-size: 23px;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    margin: 0;    
}

.city_container {
    height: 100%;
    width: 100%;
    
    grid-column: span 2;
    
    display: flex;
    align-items: center;
    
    position: relative;
}

.city_label {
    height: 100%;
    width: 25%;

    line-height: 35px;
}

.city_input {
    color: #125370;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    background-color: #D9E4F3;
    border: solid 2px #125370; 
    border-radius: 5px; 

    height: 90%;
    width: 60%;

    position: relative;
    z-index: 2;

    padding-left: 1%;
}

.city_input:focus {
    outline: #125370;
}

.autocomplete_container {
    background-color: #D9E4F3;
    border: solid 1px #125370; 
    border-radius: 5px;
    
    width: 60%;

    position: absolute;
    z-index:1;

    top: 43%;
    left: 25%;

    display: flex; 
    flex-direction: column;

    list-style: none;
    padding: 0;
}

.autocomplete_item {
    color: #125370;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    height: 30px;
    padding: 1% 0 0 2%;;
}

.autocomplete_item:hover {
    box-shadow: inset 0px 0px 15px rgba(0,36,97,0.5);
    border-radius: 5px;
    cursor: pointer;
}

.error_message_ac {
    color: #C00000;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.standard_label_format {
    width: 100%;
    height: 90%;

    align-self: center;
}

.ul_container_closed {
    color: #125370;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    background-color: #D9E4F3;
    border: solid 2px #125370; 
    border-radius: 5px; 

    height: 90%;
    width: 50%;

    align-self: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    list-style: none;
    padding: 0;
    margin: 0;
    
    position: relative;
    cursor: pointer;
}

.ul_container_closed::after {
    font-size: 16px;
    content: "⏷";

    position: absolute; 
    bottom: 15%;
    left: 90%;
}

.list_item_closed {
    color: #125370;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    padding-left: 2%;
}

.ul_container_open {
    font-family: "Source Sans 3", sans-serif;
    color: #125370;
    font-size: 16px;
    
    background-color: #D9E4F3;
    border: solid 2px #125370; 
    border-radius: 5px; 

    height: 90px;
    width: 50%;

    display: flex; 
    flex-direction: column;
    overflow-y: scroll;
    
    position: relative;
    z-index: 3; 

    margin-top: 1px;
    padding: 0;
}

.list_item {
    color: #125370;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    height: 30px;
    flex-shrink: 0;
    
    padding: 2% 0 0 2%;
    margin: 0;
}

.list_item:hover {
    box-shadow: inset 0px 0px 15px rgba(0,36,97,0.5);
    border-radius: 5px;
    cursor: pointer;
}

.standard_input_format {
    color: #125370;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    background-color: #D9E4F3;
    border: solid 2px #125370; 
    border-radius: 5px; 

    height: 90%;
    width: 50%;

    padding-left: 1%;
    align-self: center;
}

.input_custom::-webkit-outer-spin-button,
.input_custom::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.summary_container {
    height: 100%;
    width: 100%;

    grid-column: span 2;
    display: flex;
    align-items: flex-start;
    
    margin-top: 1%;
}

.summary_description_label_format {
    height: 100%;
    width: 25%;
}

.textarea_format {
    font-family: "Source Sans 3", sans-serif;
    color: #125370;
    font-size: 16px;

    background-color: #D9E4F3;
    border: solid 2px #125370; 
    border-radius: 5px; 

    padding-left: 1%;

    height: 100%; 
    min-height: 100%;
    max-height: 100%;

    width: 60%;
    min-width: 60%;
    max-width: 60%;
}

.summary_word_count_container {
    height: 100%;
    width: 14%;

    display: flex; 
    align-items: flex-end;

    margin-left: 1%;
}

.word_count_item {
    color: #125370;
    font-family: "Source Sans 3", sans-serif;
    font-size: 15px;
    font-weight: 620;
}

.description_container {
    height: 130%;
    width: 100%;

    grid-column: span 2;
    display: flex; 

    margin-top: 2%;
}

.description_word_count_container{
    display: flex; 
    align-items: flex-end;
    width: 14%;

    margin-left: 1%;
}

/* ↓↓↓ Image container styling starts here ↓↓↓ */

.property_image_container {
    height: 100%;
    width: 100%;

    margin-left: 8%;
}

.image_subtitle_container {
    height: 5%;
    width: 100%;
}

.PD_PU_error_message {
    color: #C00000;
    font-family: "Source Sans 3", sans-serif;
    font-size: 23px;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    margin: 0;    
}

.PU_success_message {
    color: #3B7D23;    
    font-family: "Source Sans 3", sans-serif;
    font-size: 23px;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    margin: 0;    
}

.main_photo_container {    
    height: 47%;
    width: 100%;
    
    margin-top: 2%;
}

.main_photo {
    border: solid 2px #125370; 
    border-radius: 25px;
    
    height: 100%;
    width: 100%;
        
    object-fit: cover;
}

.no_main_photo_div {
    background-color: rgba(217, 228, 243, 0.4);
    border: solid 2px #125370; 
    border-radius: 25px;
    
    height: 100%;
    width: 100%;
}

.extra_photos_row {
    background-color: rgba(171, 168, 153, 0.35);
    border: 1px solid rgba(120, 120, 120, 0.25);
    border-radius: 19px;
    
    height: 15%;
    width: 100%;
    
    display: flex;
    justify-content: space-between;

    position: relative;
    margin-top: 3%;
}

.left_arrow_container {
    background-color: rgba(191, 191, 191, 0.75);
    border: 2px solid rgba(120, 120, 120, 0.75);
    border-radius: 19px 0 0 19px;

    height: 100%;
    width: 5%; 

    position: absolute;
    cursor: pointer; 
}

.left_arrow_container:hover {
    background-color: rgba(210, 210, 218, 0.95);
}

.react_arrow_format {
    font-size: 18px;
    color: #125370;
}

.photo_upload_button {   
    background-color: rgba(217, 228, 243, 0.6);
    border: solid 2px #125370; 
    border-radius: 20px;

    height: 100%;
    width: 20%;  

    cursor: pointer; 
}

.photo_upload_react_icon {
    color: #125370;
    font-size: 32px;
}

.extra_photos_container {
    height: 100%;
    width: 74%;

    display: flex;
    justify-content: space-between;

    margin: 0 0 0 1%;
    padding: 0;
}

.extra_photos_list {
    height: 100%;
    width: 27%;

    display: flex;
    list-style: none; 

    position: relative;
}

.extra_photos {
    border: solid 2px #125370;
    border-radius: 20px;
    
    height: 100%;
    width: 100%; 
    
    cursor:zoom-in;
}

.delete_photo_button {
    background-color: #ECE7D4;
    border-radius: 50%;
    border: none; 
    
    width: 1%;
    height: 10%;
     
    position: absolute;
    top: 8%;
    left: 8%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete_photo_react_icon {
    color: #C00000;    
    font-size: 25px;

    overflow: visible;
    cursor: pointer;
}

.no_extra_photo_div {
    background-color: rgba(217, 228, 243, 0.6);
    border: solid 2px #125370;
    border-radius: 20px;

    height: 100%;
    width: 27%; 
}

.right_arrow_format {
    background-color: rgba(191, 191, 191, 0.75);
    border: 2px solid rgba(120, 120, 120, 0.75);
    border-radius: 0 19px 19px 0px;

    height: 100%;
    width: 5%;

    position: absolute;
    left: 95%;

    cursor: pointer;     
}

.right_arrow_format:hover {
    background-color: rgba(210, 210, 218, 0.95);
}

.feedback_message_container {
    height: 5%;
    width: 100%;

    display: flex; 
    justify-content: center;

    margin-top: 2%; 
}

.property_update_final_container {
    height: 15%;
    width: 100%; 

    display: flex;
    justify-content: center; 
}

.update_property_button {
    color: #ECE7D4;
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    
    background-color: #156082;
    border: solid 2px #042433;
    border-radius: 5px;

    height: 40%;        
    width: 30%;
    margin-top: 2%;

    cursor: pointer;
}

.property_update_success_container {
    height: 104%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.PE_success_message {
    color: #3B7D23;    
    font-family: "Source Sans 3", sans-serif;
    font-size: 23px;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    margin: 2% 0 0 0; 

    height: 40%;
}

.navigation_button {
    background-color: #156082;
    border: solid 2px #042433;
    border-radius: 5px;

    color: #ECE7D4;
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    

    height: 37%;    
    width: 20%;

    margin-top: 2%;
    cursor: pointer; 
}