/* sr = screen reader */

.sr_content {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

/*  General styling starts here - 3+ elements will use these. */

.h2_font {
    font-family: "Source Sans 3", sans-serif;
    font-size: 26px;
    color: #F2EFE2;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    

    margin: 0;
}

.h3_font {
    font-family: "Source Sans 3", sans-serif;
    font-size: 23px;
    color: #F2EFE2;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    margin: 0;
}

.h4_font {
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    color: #F2EFE2;
    font-weight: 390;
    margin: 0;
}

/* Style code in the order it appears in the JSX return */

.error_container {
    height: 97%;
    width: 94%;

    margin: 1% 0 0 3%;
}

.main_title_container {
    background-color: #156082;
    border: solid 2px #042433;
    border-radius: 10px;
    height: 50px;
    width: 100%;

    display: flex;
    justify-content: center;
}

.main_title {
    color: #F2EFE2;
    font-family: "Source Sans 3", sans-serif;
    font-size: 26px;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    

    margin: 0 3% 0 0;
    line-height: 50px;
}

.server_error_image {
    width: 30%;
    height: 46%;

    margin: 6% 0 0 34%; 
}

.error_message_FP {
    color: #C00000;
    font-family: "Source Sans 3", sans-serif;
    font-size: 30px;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    text-align: center;
    
    margin: 3% 1% 0 0;
}

.no_props_image {
    width: 30%;
    height: 45%;

    margin: 5% 0 0 33%;
}

.no_properties_message {
    color: #8E0100;
    font-family: "Source Sans 3", sans-serif;
    font-size: 30px;
    font-weight: 490;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);    
    text-align: center;
    
    margin: 4% 1% 0 0;
}

.main_container {
    height: 100%;
    width: 94%;
    
    margin: 1% 0 0 3%;
}

.remove_from_favorites_error_message {
    color: #fb0202;
    font-family: "Source Sans 3", sans-serif;
    font-size: 23px;
    font-weight: 500;
    text-shadow: 1px 1px 5px rgba(144, 36, 36, 0.5);    
    
    margin: 0 3% 0 0;
    line-height: 50px;
}

.property_and_favorite_container {
    height: 47%;
    width: 100%;

    display: flex;
    row-gap: 12%;
    
    margin-top: 3%;
}

.property_card_container {
    background-color: #125370;
    border: solid 2px #042433;
    border-radius: 35px;
    
    width: 82%;
    height: 100%;

    display: flex; 
    flex-direction: column;
    
    z-index: 2;
}

.property_card_row_1 {
    height: 10%;
    width: 94%;

    display: flex; 
    margin: 1% 0 0 3%;
}

.location_container {
    width: 80%;

    display: flex; 
    justify-content: flex-start;
}

.rental_rate_container {
    width: 20%;

    display: flex;
    justify-content: flex-end;
}

.property_card_row_2 {
    width: 94%;
    height: 66%;

    display: flex; 
    margin: 1% 0 0 3%;
}

.property_photo {
    border-radius: 20px;    
    border: solid 2px #002461;


    box-shadow: 
    0px 5px 2px rgba(0,0,0,0.2);

    height: 100%;     
    width: 40%;

    object-fit: cover;
    cursor: pointer; 
}

.summary_container {
    height: 100%;
    width: 55%;
    
    margin-left: 5%;
}

.summary_title {
    line-height: 20px;
}

.summary_content {
    color: #F2EFE2;    
    font-family: "Source Sans 3", sans-serif;
    font-size: 18px;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    

    margin-top: 3%;
    overflow-wrap: break-word;
    hyphens: auto;

    text-align: justify;
}

.property_card_row_3 {
    width: 94%;
    height: 10%;

    display: flex; 
    margin: 1% 0 0 3%;
}

.date_listed_container {
    width: 40%;
}

.remaining_info_container {
    width: 55%;

    display: flex; 
    justify-content: space-between;
    
    margin-left: 5%;
}

.property_type_container {
    width: 26%;
    display: flex;
}

.bedrooms_container {
    width: 23%;
    display: flex;
}

.bathrooms_container {
    width: 24%;
    display: flex;
}

.react_icon {
    color: #ECE7D4;
    font-size: 18px;

    margin-top: 3%;
    margin-right: 4%; 
}


.favorites_div {
    background-color: #156082;
    border: solid 2px #042433;
    border-radius: 35px;

    height: 100%;
    width: 19%;

    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;    

    margin-left: -10%;
}

.favorite_button_container {
    width: 100%;

    display: flex;
    justify-content: center;
    
    margin-left: 27%;
}

.favorites_button {
    background: none;
    border: none;
    
    padding: 0;
}

.fav_button_react_icon {
    fill: #F2EFE2;
    font-size: 35px;

    stroke: #D8CEA8;
    stroke-width: 45px;

    cursor: pointer;
}


.favorites_div_confirm_removal {
    background-color: #156082;
    border: solid 2px #042433;
    border-radius: 35px;

    height: 100%;
    width: 23%;

    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;    

    margin-left: -5%;
}

.confirm_removal_message {
    width: 78%;    
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    
    margin-left: 22%;   
    text-align: center;
}

.removal_buttons_container {
    width: 78%;
    height: 11%;

    display: flex;
    justify-content: center; 
    column-gap: 11%;
    
    margin: 5% 0 0 22%;
}

.confirm_cancel_removal_button {
    background-color: #F5F2EB;
    border: none; 
    border-radius: 5px;

    font-size: 20px;
    color: #156082;
    line-height: 50%;

    width: 32%;
    height: 100%;
    
    cursor: pointer;
}
