/* sr = screen reader */

.sr_content {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

/* Generic font styling code */

.h2_font {
    font-family: "Source Sans 3", sans-serif;
    font-size: 26px;
    color: #F2EFE2;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    margin: 0px;
}

.h2_font_custom {
    font-family: "Source Sans 3", sans-serif;
    font-size: 28px;
    color: #156082;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    margin: 0px;
}

.h3_font {
    font-family: "Source Sans 3", sans-serif;
    font-size: 24px;
    color: #F2EFE2;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    margin: 0px;
}

.h4_font {
    font-family: "Source Sans 3", sans-serif;
    font-size: 21px;
    color: #F2EFE2;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    margin: 0px;
}

.h5_font {
    font-family: "Source Sans 3", sans-serif;
    font-size: 18px;
    color: #F2EFE2;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    margin: 0px;
}

/* Styling code in the order it appears on the JSX */

.main_container {
    margin: 1% 0 0 2%;

    width: 92%;
    height: 100%;
}

.title_container {
    background-color: #156082;
    border: solid 2px #042433;
    border-radius: 5px;

    height: 40px;
    width: 100%;
}

.main_title {
    font-family: "Source Sans 3", sans-serif;
    font-size: 26px;
    color: #F2EFE2;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    

    margin: 0 0 0 44%;
    line-height: 40px;
}

.error_image {
    width: 30%;
    height: 30%;

    margin: 4% 0 0 35%; 
}

.error_message {
    font-family: "Source Sans 3", sans-serif;
    font-size: 30px;
    color: #C00000;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    text-align: center;
    
    margin-top: 5%;
}

.loading_message {
    font-family: "Source Sans 3", sans-serif;
    font-size: 30px;
    color: #F2EFE2;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    

    margin: 0 0 0 45%;
    
    line-height: 50px;
}

.first_row {
    width: 100%;

    display: flex;
    margin-top: 2%;
}

.delete_property_message {
    font-family: "Source Sans 3", sans-serif;
    font-size: 26px;
    color: #3B7D23;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    
    width: 75%;
    margin: 0;
}

.delete_property_error {
    font-family: "Source Sans 3", sans-serif;
    font-size: 26px;
    color: #C00000;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    
    width: 75%;
    margin: 0;
}

.no_property_container {
    width: 75%;
}

.welcome_message {
    width: 75%;
}

.no_property_message {
    font-family: "Source Sans 3", sans-serif;
    font-size: 32px;
    color: #C00000;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    text-align: center;    
    
    width: 92%;

    position: absolute; 
    margin-top: 12%;
}

.add_property_button {
    background-color: #156285;
    border: solid 2px #042433;
    border-radius: 5px;

    height: 40px;
    width: 15%;

    margin-left: 10%;

    cursor: pointer; 
}

.property_main_container {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: column;
    row-gap: 50px;
    
    margin-top: 2%;
    padding: 0;
}

.li_format {
    display: flex;

    list-style: none;
    width: 100%;
    height: 100%;

    position: relative;
}

.property_card_container {
    background-color: #125370;
    border: solid 2px #042433;
    border-radius: 25px;

    width: 87%;

    position: relative;
    z-index: 3;

    flex-shrink: 0;
}

/* ↓↓↓ Applies to all three rows inside the property card container ↓↓↓ */

.property_row {
    width: 95%;
    
    display: flex; 
    margin: 1% 0 1% 2%;
}

.address_container {
    width: 85%;

    display: flex;
    justify-content: flex-start;
}

.budget_container {
    width: 15%;

    display: flex;
    justify-content:flex-end
}

.main_photo {
    border-radius: 20px;
    border: solid 2px #002461;
    
    width: 40%;
    height: 200px;
    
    object-fit: cover;
    cursor: pointer;    
}

.property_summary_container {
    width: 55%;
    margin: 0 0 0 5%;
}

.property_summary_title {
    line-height: 20px;
}

.property_summary_content {
    margin-top: 3%; 

    text-align: justify;
    overflow-wrap: break-word;
    hyphens: auto;
}

.date_listed_container {
    width: 40%;
}

.basic_info_main_container {
    width: 55%;
    
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 5%;
}

.basic_info_property_type_container {
    width: 28%;
    display: flex;
}

.basic_info_bedrooms_container {
    width: 24%;
    display: flex;
}

.basic_info_multiple_bathrooms_container {
    width: 24%;
    display: flex;
}

.basic_info_single_bathrooms_container {
    width: 22%; 
    display: flex;
    justify-content: space-between;
}

.react_icon {
    color: #ECE7D4;
    font-size: 18px;

    margin-top: 35%;
}

.basic_info_position {
    margin-left: 7%;
}

.buttons_container {
    height: 100%;
    width: 20%;

    display: flex;
    flex-direction: column;

    margin-left: -12%;

    z-index: 1;
}

.property_button {
    background-color: #156082;
    border: solid 1px #042433;
    border-radius: 30px;
    
    height: 50%;
    cursor: pointer;
}

.property_react_icon {
    color: #ECE7D4;
    font-size: 30px;

    margin-left: 55%;
}

.delete_property_container_visible {
    background-color: #156082;
    border: solid 1px #042433;
    border-radius: 30px;

    height: 50%;
    width: 17%;
    
    display: flex; 
    flex-direction: column;
    justify-content: center;
    
    position: absolute;
    z-index: 2;

    top: 50%;
    left: 83%;
}

.delete_property_container_hidden {
    display: none;
    overflow: hidden;
}

.confirm_delete_message {
    width: 78%;
    text-align: center;
    white-space: nowrap; 
    margin: 0 0 0 22%;  
}

.delete_button_container {
    display: flex;
    justify-content: center;

    height: 25%;
    margin: 7% 0 0 22%;
    column-gap: 10%;
}

.delete_button {
    background-color: #F5F2EB;
    border: none; 
    border-radius: 5px;

    font-size: 24px;
    color: #156082;
    line-height: 35px;

    width: 35%;
    height: 90%;

    cursor: pointer;
}