    /* sr = screen reader */

.sr_content {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

/* Generic label styling for location and budget labels */

.label {
    font-family: "Source Sans 3", sans-serif;
    font-size: 24px;
    color: #F2EFE2;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);    

    width: 25%;
}

/* Styling in the order it appears in JSX return */

.main_container {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.location_container {    
    width: 94%;

    display: flex;
    position: relative;
    
    margin: 4% 0 0 6%;
}

.location_input {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    background-color: #F8F6F2;
    border: solid 1px #002461;
    border-radius: 7px;
    
    width: 65%;
    
    padding-left: 1%;        
}

.autocomplete_container {
    background-color: #F8F6F2;
    border: 1px solid #125370;
    border-radius: 7px;

    width: 65%;
    
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 25%;
    top: 51%;

    z-index: 2;

    padding: 0;
}

.autocomplete_item {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    
    list-style: none;
    padding: 5px;
}

.autocomplete_item:hover {
    box-shadow: inset 0px 0px 15px rgba(0,36,97,0.5);
    cursor: pointer;
}

.ac_error_message {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 390;

    color: #C00000;

    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}

.budget_container{
    width: 94%;

    display: flex;
    margin-left: 6%;     
}

.budget_container_closed{
    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    width: 35%;
    
    padding: 1% 0 0 2%;
    margin: 0;

    position: relative;
}

.budget_container_closed::after {
    font-size: 20px;
    content: "⏷";

    position: absolute;
    top: 0%;
    right: 5%;
}

.budget_container_closed:hover {
    box-shadow: inset 0px 0px 15px rgba(0,36,97,0.5);
    cursor: pointer;
}

.budget_item_closed {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    list-style: none;
}

.budget_container_open{
    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    width: 35%;
    height: 165px;

    overflow-y: scroll;
    
    padding: 0;
    margin: 0;
}

.budget_item {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    list-style: none;
    padding: 3% 0 2% 6%;
}

.budget_item:hover {
    box-shadow: inset 0px 0px 15px rgba(0,36,97,0.5);
    cursor: pointer;
}

.search_button {
    color: #125370;
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    font-weight: 450;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);  

    background-color: #BFBFBF;
    border: 2px solid #747474;
    border-radius: 6px;  

    width: 22%;
    height: 35px;

    margin-left: 8%;

    cursor: pointer; 
}   