/* sr = screen reader */

.sr_content {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

.h2_font {
    font-family: "Source Sans 3", sans-serif;
    font-size: 26px;
    color: #F2EFE2;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
}

.main_container {
    background-color: #125370;
    border: solid 2px #002461;    
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;

    width: 92%;
    height: 145px;
    
    margin: 2% 0 0 2%;
}

.first_row_container {
    width: 100%;
    height: 35px;

    display: flex;
    justify-content: flex-start;
    
    margin: 2% 0 0 0;

    position: relative;
}

.location_container {
    width: 33%; 

    display: flex;
    position: relative;

    margin-left: 3%;
}

.location_label {
    width: 35%;
}   

.location_input {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    width: 64%;
    
    padding-left: 2%;
}

.autocomplete_container {    
    background-color: #F8F6F2;
    border: 2px solid #125370;
    border-radius: 7px;

    width: calc(65% + 2px);

    display: flex;
    flex-direction: column;

    position: absolute;
    z-index: 3;

    top: 54%;
    left: 34%;
    
    padding: 0;
}

.autocomplete_item {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    
    list-style: none;
    padding: 2% 1% 2% 3%;
}

.autocomplete_item:hover {
    box-shadow: inset 0px 0px 15px rgba(0,36,97,0.5);
    cursor: pointer;
}

.ac_error_message {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    font-weight: 390;

    color: #C00000;

    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.property_type_container {
    width: 30%;

    display: flex;

    margin-left: 3%;
}

.property_type_label {
    width: 45%;
}

.property_type_container_closed {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    
    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    width: 55%;

    margin: 0;
    padding: 0;
    position: relative;
}

.property_type_container_closed::after {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    content: "⏷";
    
    position: absolute;
    top: 0;
    left: 88%;    

    line-height: 35px;
}

.property_type_container_closed:hover{
    box-shadow: inset 0px 0px 15px rgba(0,36,97,0.5);
    cursor: pointer;
}

/* The folowing generic code applies to all list items in the JSX return */

.generic_list_item_format {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    list-style: none;
    line-height: 35px;
    padding: 0 0 0 4%;
}

.generic_list_item_format:hover {
    box-shadow: inset 0px 0px 15px rgba(0,36,97,0.5);
    cursor: pointer;
}

.property_type_container_open {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    display: flex;
    flex-direction: column;

    row-gap: 2%;
    height: 105px;
    width: 55%;
    overflow-y: scroll;

    z-index: 3;

    margin: 0;
    padding: 0;
}

.budget_container {
    width: 23%;

    display: flex;
    margin-left: 5%;    
}

.budget_label {
    width: 35%;
}

.budget_container_closed{
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    width: 60%;
    
    margin: 0;
    padding: 0;
    position: relative;
}

.budget_container_closed::after {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;    
    content: "⏷";

    position: absolute;
    top: 0;
    left: 85%;

    line-height: 35px;
}

.budget_container_closed:hover{
    box-shadow: inset 0px 0px 15px rgba(0,36,97,0.5);
    cursor: pointer;
}

.budget_container_open{
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    width: 60%;
    height: 105px;
    overflow-y: scroll;

    padding: 0;
    margin: 0;

    z-index: 3;
}

.second_row_container {
    width: 100%;
    height: 35px;

    display: flex;
    
    margin: calc(1% + 10px) 0 0 0;

    position: relative;
}

.bedrooms_container {
    width: 25%; 

    display: flex;
    position: relative;

    margin-left: 3%;
}

.bedrooms_label {
    width: 34%; 
}

.bedrooms_container_closed {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    width: 50%;

    margin: 0 0 0 11%;
    padding: 0;

    position: relative;
}

.bedrooms_container_closed::after{ 
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;    
    content: "⏷";

    position: absolute;
    top: 0px;
    left: 88%;

    line-height: 35px;
}

.bedrooms_container_closed:hover {
    box-shadow: inset 0px 0px 15px rgba(0,36,97,0.5);
    cursor: pointer;    
}

.bedrooms_container_open {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    width: 45%;
    height: 105px;
    overflow-y: scroll;

    margin: 0 0 0 11%;
    padding: 0;
    
    z-index: 3;
}

.bathrooms_container {
    width: 22%;

    display: flex; 
    
    margin: 0 0 0 3%; 
}

.bathroom_label {
    width: 45%;
}

.bathrooms_container_closed {
    font-family: "Source Sans 3", sans-serif;    
    font-size: 16px;

    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    width: 55%;

    padding: 0;
    margin: 0 0 0 8%;
    position: relative;
}

.bathrooms_container_closed:hover {
    box-shadow: inset 0px 0px 15px rgba(0,36,97,0.5);
    cursor: pointer;   
}

.bathrooms_container_closed::after{ 
    font-family: "Source Sans 3", sans-serif;    
    font-size: 16px;    
    content: "⏷";

    position: absolute;
    top: 8%;
    left: 85%;
}

.bathrooms_container_open {
    font-family: "Source Sans 3", sans-serif;    
    font-size: 16px;

    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    width: 55%;
    height: 105px;
    overflow-y: scroll;
    
    padding: 0;
    margin: 0 0 0 8%;

    z-index: 3;
}

.furniture_container {
    display: flex;
    margin: 0 0 0 3%;
    width: 25%;
}

.furniture_label {
    width: 35%;
}

.furniture_container_closed {
    font-family: "Source Sans 3", sans-serif;    
    font-size: 16px;

    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    width: 45%;
    
    padding: 0;
    margin: 0 0 0 8%;
    position: relative;
}

.furniture_container_closed:hover {
    box-shadow: inset 0px 0px 15px rgba(0,36,97,0.5);
    cursor: pointer;   
}

.furniture_container_closed::after{ 
    font-family: "Source Sans 3", sans-serif;        
    font-size: 16px;    
    content: "⏷";
    
    position: absolute;
    top: 8%;
    left: 85%;
}

.furniture_container_open {
    font-family: "Source Sans 3", sans-serif;    
    font-size: 16px;

    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    width: 45%;
    height: 105px;
    overflow-y: scroll;
    
    padding: 0;
    margin: 0 0 0 8%;
    
    position: relative;
    z-index: 3;
}

.search_button {
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    color: #125370;
    font-weight: 450;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);  

    background-color: #BFBFBF;
    border: 2px solid #747474;
    border-radius: 7px;  

    width: 10%;
    margin: 0 0 0 5%;    
}
