/* sr = screen reader */

.sr_content {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

/* Generic font styles  */

.h2_font {
    font-family: "Source Sans 3", sans-serif;
    font-size: 26px;
    color: #F2EFE2;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
}

/* Styling in the order it appears in the JSX */

.main_container {
    background-color: #125370;
    border: solid 2px #002461;    
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 156px;
    
    margin-top: 2%;
}

.first_row_container {
    width: 96%;
    height: 25%;

    display: flex;
    
    margin: 2% 0 0 2%;

    position: relative;
}

.location_container {
    width: 32%; 

    display: flex;
    position: relative;
}

.location_label {
    height: 100%;
    width: 24%;
}   

.location_input {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    height: 100%;
    width: 68%;
    
    padding-left: 2%;
    margin-left: 8%;
}

.autocomplete_container {    
    background-color: #F8F6F2;
    border: 2px solid #125370;
    border-radius: 7px;

    width: 68%;

    display: flex;
    flex-direction: column;

    position: absolute;
    z-index: 3;
    top: 60%;
    left: 32%;
    
    padding: 0;
}

.autocomplete_item {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    
    list-style: none;
    padding: 2% 1% 2% 3%;
}

.autocomplete_item:hover {
    box-shadow: inset 0px 0px 15px rgba(0,36,97,0.5);
    cursor: pointer;
}

.ac_error_message {
    color: #C00000;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    font-weight: 390;

    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.property_type_container {
    width: 32%;

    display: flex;
    margin-left: 5%;
}

.property_type_label {
    height: 100%;
    width: 38%;
}

.property_type_container_closed {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    
    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    height: 100%;
    width: 56%;

    position: relative;

    margin: 0 0 0 6%;
    padding: 0;
}

.property_type_container_closed::after {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    content: "⏷";
    
    position: absolute;
    top: 0;
    left: 88%;    

    line-height: 36px;
}

.property_type_container_closed:hover{
    box-shadow: inset 0px 0px 15px rgba(0,36,97,0.5);
    cursor: pointer;
}

/* The folowing generic code applies to all list elements */

.generic_list_item_format {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    list-style: none;
    line-height: 36px;

    padding: 0 0 0 4%;
}

.generic_list_item_format:hover {
    box-shadow: inset 0px 0px 15px rgba(0,36,97,0.5);
    cursor: pointer;
}

/*  Back to styling in the order it appears */

.property_type_container_open {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    display: flex;
    flex-direction: column;
    row-gap: 2%;

    width: 56%;
    height: 105px;
    overflow-y: scroll;
    
    position: relative;
    z-index: 3;

    margin: 0 0 0 6%;
    padding: 0;
}

.budget_container {
    width: 25%;

    display: flex;
    margin-left: 6%;    
}

.budget_label {
    width: 25%;
}

.budget_container_closed{
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    width: 64%;
    
    margin: 0 0 0 11%;
    padding: 0;

    position: relative;
}

.budget_container_closed::after {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;    
    content: "⏷";
    line-height: 36px;

    position: absolute;
    top: 0;
    left: 85%;
}

.budget_container_closed:hover{
    box-shadow: inset 0px 0px 15px rgba(0,36,97,0.5);
    cursor: pointer;
}

.budget_container_open {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    width: 64%;
    height: 105px;
    overflow-y: scroll;

    padding: 0;
    margin: 0 0 0 11%;

    position: relative;
    z-index: 3;
}

.second_row_container {
    width: 96%;
    height: 25%;

    display: flex;   
    justify-content: space-between; 
    margin: 2% 0 0 2%;

    position: relative;
}

.bedrooms_container {
    width: 24%; 

    display: flex;
}

.bedrooms_label {
    width: 34%; 
}

.bedrooms_container_closed {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    width: 58%;

    margin: 0 0 0 9%;
    padding: 0;

    position: relative;
}

.bedrooms_container_closed::after{ 
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;    
    content: "⏷";
    line-height: 35px;

    position: absolute;
    top: 0;
    left: 88%;
}

.bedrooms_container_closed:hover {
    box-shadow: inset 0px 0px 15px rgba(0,36,97,0.5);
    cursor: pointer;    
}

.bedrooms_container_open {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    width: 58%;
    height: 105px;
    overflow-y: scroll;

    margin: 0 0 0 9%;
    padding: 0;
    
    position: relative; 
    z-index: 3;
}

.bathrooms_container {
    width: 24%;

    display: flex;  
}

.bathroom_label {
    width: 40%;
}

.bathrooms_container_closed {
    font-family: "Source Sans 3", sans-serif;    
    font-size: 16px;

    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    width: 58%;

    margin: 0 0 0 9%;
    padding: 0;

    position: relative;
}

.bathrooms_container_closed:hover {
    box-shadow: inset 0px 0px 15px rgba(0,36,97,0.5);
    cursor: pointer;   
}

.bathrooms_container_closed::after{ 
    font-family: "Source Sans 3", sans-serif;    
    font-size: 16px;    
    content: "⏷";
    line-height: 35px;
    
    position: absolute;
    top: 0;
    left: 85%;
}

.bathrooms_container_open {
    font-family: "Source Sans 3", sans-serif;    
    font-size: 16px;

    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    width: 58%;
    height: 105px;
    overflow-y: scroll;
    
    padding: 0;
    margin: 0 0 0 9%;

    position: relative;
    z-index: 3;
}

.furniture_container {
    width: 23%;

    display: flex;
}

.furniture_label {
    width: 35%;
}

.furniture_container_closed {
    font-family: "Source Sans 3", sans-serif;    
    font-size: 16px;

    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    width: 56%;
    
    padding: 0;
    margin: 0 0 0 9%;
    position: relative;
}

.furniture_container_closed:hover {
    box-shadow: inset 0px 0px 15px rgba(0,36,97,0.5);
    cursor: pointer;   
}

.furniture_container_closed::after{ 
    font-family: "Source Sans 3", sans-serif;        
    font-size: 16px;    
    content: "⏷";
    line-height: 35px;

    position: absolute;
    top: 0;
    left: 85%;
}

.furniture_container_open {
    font-family: "Source Sans 3", sans-serif;    
    font-size: 16px;

    background-color: #F8F6F2;
    border: solid 2px #002461;
    border-radius: 7px;

    width: 56%;
    height: 105px;
    overflow-y: scroll;
    
    padding: 0;
    margin: 0 0 0 9%;
    
    position: relative;
    z-index: 3;
}

.search_button {
    color: #125370;    
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    font-weight: 450;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);  

    background-color: #BFBFBF;
    border: 2px solid #747474;
    border-radius: 7px;  

    width: 11%;
}
