/* Fonts first */

.h2_font {
    font-family: "Source Sans 3", sans-serif;
    font-size: 28px;
    color: #F2EFE2;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    justify-self: center;
    margin: 4% 0 0 0;
}

/* Styling in the order it appears */

.main_page_container {
    height: 89%;
    width: 94%;

    display: flex;
    margin: 0 0 0 3%;

    position: relative;
}

.search_box_container {
    background-color: #125370;
    border: solid 2px #002461;
    border-radius: 40px;

    width: 40%;
    height: 36%;

    position: relative; 
    margin: 14% 0 0 9%;
    z-index: 2;
}

.home_page_photo {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.9);
    border-radius: 50px;
        
    width: 70%;
    height: 90%;
    
    position: absolute;
    top: 5%; 
    left: 30%;

    z-index: 1;
}