/* Fonts first */

.h2_font {
    font-family: "Source Sans 3", sans-serif;
    font-size: 29px;
    color: #F2EFE2;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    margin: 0px 0px 20px 0px;
    justify-self: center;
}

/* Styling in the order it appears */

.main_page_container {
    position: relative; 
    display: flex;
    height: 100%;
    width: 100%;
}

.search_box_container {
    background-color: #125370;
    border: solid 3px #002461;
    border-radius: 40px;

    width: 36%;
    height: 26%;
    padding: 20px;

    margin: 13% 0 0 10%;

    position: relative; 
    z-index: 2;
}


.home_page_photo {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.6);
    border-radius: 50px;
        
    width: 60%;
    height: 85%;
    
    position: absolute;

    top: 5%;
    left: 30%;

    z-index: 1;
}