.main_container {
    width: 94%;
    height: 89%;

    display: flex;    
    position: relative;
    
    margin-left: 3%;
}

.inquiries_photo {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.9);
    border-radius: 50px;

    width: 70%;
    height: 90%; 
    
    position: absolute;  
    top: 5%;
    left: 30%;

    z-index: 1;
}