/* sr = screen reader */

.sr_content {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

/* Generic font styles */

.h3_format {
    font-family: "Source Sans 3", sans-serif;
    font-size: 24px;
    color: #F2EFE2;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    margin: 0px;
}

.h4_format {
    font-family: "Source Sans 3", sans-serif;
    font-size: 21px;
    color: #F2EFE2;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    margin: 0px;
}

/* Styling in the order it appears in the JSX */

.intro_main_container {
    display: flex;

    width: 92%;
    height: 35px;

    margin: 2% 0 0 2%;
}

.intro_title_container {
    display: flex;
    width: 81%;
}

.main_container_font {
    font-family: "Source Sans 3", sans-serif;
    font-size: 26px;
    color: #156082;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    margin: 0;
}

.pr_error_format {
    font-family: "Source Sans 3", sans-serif;
    font-size: 26px;
    color: #C00000;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);   
}

.order_by_container {
    display: flex;
    width: 19%;
}

.order_by_container_closed {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    background-color: #F5F2EB;
    border: solid 2px #002461;
    border-radius: 7px;
    
    width: 53%;

    margin: 0 0 0 8%;
    padding: 0;

    position: relative;
}

.order_by_container_closed::after {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    content: "⏷";

    position: absolute;
    
    top: 8%;
    left: 80%;    
}

.order_by_container_closed:hover {
    box-shadow: inset 0px 0px 15px rgba(0,36,97,0.5);
    cursor: pointer;
}

.order_by_item_custom {
    list-style: none; 
    line-height: 35px;
    padding-left: 8%;  
}

.order_by_container_open {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;

    background-color: #F5F2EB;
    border: solid 2px #002461;
    border-radius: 7px;
    
    width: 53%;
    height: 105px;

    display: flex; 
    flex-direction: column;
    position: relative;
    
    padding: 0;
    margin: 0 0 0 8%;

    z-index: 3;
}

.order_by_container_open::after {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    content: "⏷";

    position: absolute;
    top: 3%;
    left: 80%;    
}

.order_by_item{
    list-style: none;
    line-height: 35px;

    padding: 0 0 0 8%;
}

.order_by_item:hover{
    box-shadow: inset 0px 0px 15px rgba(0,36,97,0.5);
    cursor: pointer;
}

.property_main_container {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    
    width: 92%;
    margin: 2% 0 0 2%;
}

.property_card_container {
    background-color: #125370;
    border: solid 2px #002461; 
    border-radius: 40px;    
}

.property_card_first_row {
    width: 95%;
    
    display: flex;
    margin: 1% 0 1% 2%;
}

.address_container {
    width: 50%; 

    display: flex;
    justify-content: flex-start;
}

.rental_rate_container {
    width: 50%;

    display: flex;
    justify-content: flex-end;
}

.property_card_second_row {
    height: 200px;
    width: 95%;

    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 20% 80%;
    grid-template-areas: "image property_summary_title"
                         "image property_summary_content"
    ;
    
    margin: 0 0 0 2%;
    position: relative;
}

.fp_error_format {
    font-family: "Source Sans 3", sans-serif;
    font-size: 21px;
    color: #F2EFE2;
    font-weight: 390;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);   

    background-color: #125370;
    border: 3px solid #002461;
    border-radius: 15px;     

    height: 25%;
    width: 15%;
    
    text-align: center;
    line-height: 50px;

    position: absolute; 
    top: 22%;
    left: 10%;
}

.image_format {
    grid-area: image;

    height: 100%;
    width: 100%;

    object-position: center;
    object-fit: cover;

    box-shadow: 0px 5px 2px rgba(0,0,0,0.2);
    
    border: solid 2px #002461;
    border-radius: 40px; 

    cursor: pointer;
}

.fav_button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    position: absolute; 
    top: 8%;
    left: 2%;
}

.summary_title_format {
    grid-area: property_summary_title;

    font-family: "Source Sans 3", sans-serif;
    font-size: 24px;
    color: #F2EFE2;
    font-weight: 390;

    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);    
    margin: 0 0 0 4%;
}

.summary_content_format {
    grid-area: property_summary_content;

    margin: 2% 0 0 4%;
    
    text-align: justify;
    overflow-wrap: break-word;
    hyphens: auto;
}

.property_card_third_row {
    display: flex;

    margin: 1% 0 0 2%;

    width: 95%;    
    height: 45px;
}

.date_listed_position {
    width: 35%;
}

.quick_data_container {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-left: 4%;
}

.property_type_container {
    display: flex;
    width: 30%;
}

.bedrooms_container {
    display: flex;
    width: 20%;
}

.bathrooms_container {
    display: flex;
    width: 20%;
}

.quick_data_position {
    margin-left: 10%;
}

.react_icon {
    color: #ECE7D4;
    font-size: 18px;
    margin-top: 30%;
}

